.app-tastyload {
    height: 90%;
    width: 95%;
    margin-left: 10px;
    overflow: scroll;
}

.tastyload-header {
    min-height: 64px;
    padding: 8px 24px 0; 
}

.agm-map {
    height: 600px;
}

.tastyload-table {
    overflow: auto;
    /* min-height: 360px; */
    bottom: 0;
}

.tastyload-loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tastyload-rate-limit-reached {
    color: #980000;
    max-width: 360px;
    text-align: center;
}