<div class="app-newspeed">
    <div class="newspeed-backgound" infinite-scroll [infiniteScrollDistance]="3" [infiniteScrollThrottle]="300" (scrolled)="onScroll()" [scrollWindow]="false" [immediateCheck]="false">
        <mat-list>
            <mat-nav-list *ngFor="let posts of recentPosts">
                <mat-card class="posts-card" (click)="pressPosts(posts.postsID)">
                    <mat-card-header>
                        <div mat-card-avatar [style.background-image]="posts.publisherImg"></div>
                        <mat-card-title>{{posts.publisher}}</mat-card-title>
                        <mat-card-subtitle>{{posts.publisherIntro}}</mat-card-subtitle>
                        <div class="comment-count">
                            <mat-icon mat-list-icon>comment</mat-icon>
                            {{posts.commentId.length}}
                        </div>
                        <div class="like-btn">
                            <mat-icon mat-list-icon style="color: red;">favorite</mat-icon>
                            {{posts.good}}
                        </div>
                        <div mat-button class="dislike-btn">
                            <mat-icon mat-list-icon>thumb_down</mat-icon>
                            {{posts.bad}}
                        </div>
                    </mat-card-header>
                    <mat-card-content>
                        <h3>{{posts.title}}</h3>
                        <p> {{posts.body}} </p>
                    </mat-card-content>
                    <div  *ngIf="posts.images" class="posts-image-box">
                        <!-- 이미지 1개일 때 -->
                        <img *ngIf="posts.images.length == 1" mat-card-image src="{{posts.images[0]}}" alt="image of posts">
                        <!-- 이미지 2개일 때 -->
                        <mat-grid-list cols="2" *ngIf="posts.images.length == 2">
                            <mat-grid-tile>
                                <img mat-card-image src="{{posts.images[0]}}" alt="image of posts">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img mat-card-image src="{{posts.images[1]}}" alt="image of posts">
                            </mat-grid-tile>
                        </mat-grid-list>
                        <!-- 이미지 3개 이상일 때 -->
                        <mat-grid-list cols="3" *ngIf="posts.images.length > 2">
                            <mat-grid-tile>
                                <img mat-card-image src="{{posts.images[0]}}" alt="image of posts">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img mat-card-image src="{{posts.images[1]}}" alt="image of posts">
                            </mat-grid-tile>
                            <mat-grid-tile>
                                <img mat-card-image src="{{posts.images[2]}}" alt="image of posts">
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-card>
            </mat-nav-list>
        </mat-list>
    </div>
</div>