.app-newspeed {
    height: 90%;
    width: 95%;
    margin-left: 10px;
}

.newspeed-backgound {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.newspeed-card {
    margin-bottom: 10px;
    height: 400px;
}