.app-newspeed {
    height: 90%;
    width: 100%;
    margin-left: 10px;
}

.newspeed-loading-screen {
    height: 90%;
    width: 95%;
    margin-left: 10px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.newspeed-backgound {
    height: 100%;
    width: 100%;
    overflow: scroll;
}

.posts-list {
    margin-right: 50px !important;
}

.posts-card:hover {
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.posts-card {
    margin-left: 10px;
    margin-bottom: 20px;
    max-height: 800px;
    width: 95%;
}

.posts-card-chip {
    float: right;
}

.mat-card-avatar {
    background-size: cover;
}

.posts-info-content {
    margin: auto 0;
    white-space: pre-line; 
    word-break:break-all;
    overflow: hidden;
    text-overflow: ellipsis; 
    max-height: 400px; 
}

.mat-card-content {
    margin-right: 20px;
}

.posts-image-box {
    margin-top: 20px;
    margin-right: 20px;
}

.mat-card-image {
    max-height: 400px;
    object-fit: cover;
}

.mat-card-image-cover {
    height: 400px;
    position: absolute;
    top: 84px;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5em;
}

.posts-card-classify-logo{
    margin-left: auto;
    padding: 0 25px;
}

.comment-count {
    padding: 0 20px;
}

.like-btn {
    /* margin-left: auto; */
    padding: 0 20px;
}

.dislike-btn {
    padding: 0 20px;
}

.mat-list {
    padding: 0;
}

.mat-nav-list {
    padding: 0;
}