.userInfoCard {
    /* height: ; */
}

.userInfoCard-header {
    margin-bottom: 20px;
}

.userInfoCard-abandonmentLV {
    display: block;
    margin-bottom: 20px;
}

.userInfoCard-btn-bundle {
    margin-top: 10px;
}

.profileImage {
    background-size: cover;
}

.siteInfo {
    margin-top: 10px;
}