<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav class="app-sidenav">
    Jolly good!
  </mat-sidenav>

  <mat-toolbar color="primary">
    <button type="button" mat-button (click)="sidenav.open()" class="app-showSidenavBtn">
        <mat-icon style="font-size:50px; height:50px; width:50px;">account_circle</mat-icon>
    </button>
    <div class="app-Title">
      NSNEST of Ancient
    </div>
  </mat-toolbar>


  <div class="app-sidenav-content">

    <button mat-fab>Basic</button>

    <mat-button-toggle-group #group="matButtonToggleGroup" (change)="testEvent($event)">
      <mat-button-toggle value="left">
        <mat-icon>format_align_left</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="center">
        <mat-icon>format_align_center</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="right">
        <mat-icon>format_align_right</mat-icon>
      </mat-button-toggle>
      <mat-button-toggle value="justify" disabled>
        <mat-icon>format_align_justify</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
    <div class="example-selected-value">Selected value: {{group.value}}</div>

  </div>

</mat-sidenav-container>