.app-write {
    height: 90%;
    width: 95%;
    margin-left: 10px;
    padding-bottom: 500px;
    overflow: scroll;
}

.write-editor {
    height: 80%;
}

.write-title {
    width: 80%;
}

.write-elbum {
}

.write-elbum-desc {
    width: 100%;
}

.mat-card-image {
    height: 500px;
    /* background-size: fill; */
}

.write-save-btn {
    margin-top: 10px;
    margin-bottom: 40px;
}