.app-write {
    height: 90%;
    width: 95%;
    margin-left: 10px;
    padding-bottom: 500px;
    overflow: scroll;
}

.write-loading-screen {
    height: 90%;
    width: 95%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 99;
}

.write-editor {
    height: 80%;
}

/* .write-title {
    width: 80%;
} */

.write-elbum {
}

.elbum-image {
    height: 280px !important;
}

.write-elbum-desc {
    width: 100%;
}

.mat-card-image {
    height: 500px;
    /* background-size: fill; */
}

.write-save-btn {
    margin-top: 10px;
    margin-bottom: 40px;
}

.map-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}
  
.map-margin {
    margin: 0 10px;
}

.agm-map {
    height: 600px;
}