<input hidden #fileInputEl type='file' accept="image/*" (change)="addImageAndUploadServer($event)" multiple>
<div class="app-write">
    <!--=================== 게시글 작성 =====================-->
    <div *ngIf="classify == 10" class="write-editor">
        <mat-form-field class="write-editor-title">
            <input matInput placeholder="게시글 제목" [formControl]="titleFormControl">
        </mat-form-field>

        <quill-editor [modules]="editorModule" [formControl]="editorContent" (onEditorCreated)="onEditorCreated($event)">
        </quill-editor>

        <!-- 수정 저장 -->
        <button class="write-save-btn" mat-raised-button color="primary" (click)="pressSaveBtn()">올리기</button>
    </div>

    <!--=================== 앨범 올리기 =====================-->
    <form *ngIf="classify == 20" class="" [formGroup]="userInfo">
        <mat-form-field style="width: 60%;">
            <input matInput formControlName="profileText" placeholder="프로필 명">
        </mat-form-field>
        <mat-form-field style="width: 100%;">
            <textarea matInput formControlName="profileDescription" placeholder="프로필 설명"></textarea>
        </mat-form-field>
    
        <!-- 이미지 인풋 -->
        <button mat-raised-button color="primary" (click)="imgFileInput.click()">이미지 변경</button>
        <input hidden type="file" #imgFileInput (change)="changeImage($event)" accept=".jpg,.jpeg,.png,.gif,.bmp"/>
        
        <!-- 이미지 표시 -->
        <mat-card class="example-card" style="margin-top: 20px; margin-bottom: 20px; max-width: 400px;">
            <img mat-card-image src="{{profileImage}}" alt="profile image">
        </mat-card>
        
        <!-- 수정 저장 -->
        <button class="write-save-btn" mat-raised-button color="primary" (click)="pressSaveBtn()">올리기</button>
    </form>
</div>