<div class="app-board">
    <!-- <mat-card class="board-background">Simple card</mat-card> -->

    <div class="board-background">
        <div class="board-loading-shade"
                *ngIf="isLoading">
            <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
            <div class="board-rate-limit-reached" *ngIf="isRateLimitReached">
            GitHub's API rate limit has been reached. It will be reset in one minute.
            </div>
        </div>

        <div class="board-header">
            <mat-form-field style="width: 60%;">
                <input #filterBtn matInput placeholder="Filter">
            </mat-form-field>
            <button mat-raised-button color="primary" (click)="applyFilter(filterBtn.value)">검색</button>
        </div>
        
        
        
        <mat-paginator [length]="resultsLength" [pageSize]="10" [showFirstLastButtons]="true" [hidePageSize]="true">
        </mat-paginator>
    </div>
</div>