<mat-card class="app-card-sideUserList">
    <mat-tab-group class="app-tab-group">
        <!-- 접속 중 인원 리스트 -->
        <mat-tab label="잉여랭킹">
                <mat-list>
                    <h3 mat-subheader>Folders</h3>
                    <mat-nav-list *ngFor="let user of connectedUsers">
                        <a mat-list-item (click)="pressOneUser(user)">
                            <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                            <div mat-card-avatar [style.background-image]="user.image" class="profile-image"></div>
                            <div class="profile-info">
                                <h4 class="profile-info-name">{{user.name}}({{user.studentNum}})</h4>
                                <p class="profile-info-intro"> {{user.recentDate | date:'M월 d일 H시'}} </p>
                            </div>
                        </a>
                        <mat-divider></mat-divider>
                    </mat-nav-list>
                </mat-list>


                <!-- 선택 리스트 -->
                <!-- <mat-selection-list #list>
                    <mat-list-option *ngFor="let user of users" (click)="pressOneUser(list)" [value]="user.name">
                        {{user.name}}
                    </mat-list-option>
                </mat-selection-list> -->
        </mat-tab>

        <!-- 전체 인원 리스트 -->
        <mat-tab label="전체">
                <mat-list>
                    <h3 mat-subheader>Folders</h3>
                    <mat-nav-list *ngFor="let user of allUsers">
                        <a mat-list-item (click)="pressOneUser(user)">
                            <!-- <mat-icon mat-list-icon>folder</mat-icon> -->
                            <div mat-card-avatar [style.background-image]="user.image" class="profile-image"></div>
                            <div class="profile-info">
                                <h4 class="profile-info-name">{{user.name}}({{user.studentNum}})</h4>
                                <p class="profile-info-intro"> {{user.recentDate | date:'M월 d일 H시'}} </p>
                            </div>
                        </a>
                        <mat-divider></mat-divider>
                    </mat-nav-list>
                </mat-list>
        </mat-tab>
    </mat-tab-group>
</mat-card>